{# 
Renders the login form.

action        - The url that the form should be submitted to.
error_summary - A tuple/list of form errors.

Example:

  {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}

#}
{% import 'macros/form.html' as form %}

{% set username_error = true if error_summary %}
{% set password_error = true if error_summary %}

<form action="{{ action }}" method="post" class="form-horizontal">
  {{ form.errors(errors=error_summary) }}

  {{ form.input('login', label=_("Username"), id='field-login', value="", error=username_error, classes=["control-medium"]) }}

  {{ form.input('password', label=_("Password"), id='field-password', type="password", value="", error=password_error, classes=["control-medium"]) }}

  {{ form.checkbox('remember', label=_("Remember me"), id='field-remember', checked=true, value="63072000") }}

  <div class="form-actions">
    {% block login_button %}
    <button class="btn btn-primary" type="submit">{{ _('Login') }}</button>
    {% endblock %}
  </div>
</form>



<h3>{{ _('Login with OpenID') }}</h3>

<form action="oilogin" class="form-horizontal">

    <div class="control-group control-medium">
	    <span style="text-align: right; margin-bottom: 0; padding-right: 20px; display: block; width: 120px;">
	        <img src="/images/openid-icon-100x100.png" width="50px" class="" alt="OpenID logo" />
	    </span>
    </div>
    <div class="control-group control-medium">
        <label class="control-label">{{ _('Open ID URL') }}</label>
        <div class="controls">
            <input type="text" name="id" placeholder="http://spod.routetopa.eu/openid/" />
        </div>
    </div>

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{{ _('Login with OpenID')}}">
    </div>

</form>
